{% extends 'base.html' %}

{% block content %}

<h2>Partner - {{ partner.3 }}</h2>
<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs mt-3" id="partnerTabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#podaci">Osnovni podaci</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#kontakti">Kontakti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-bs-toggle="tab" href="#napomene">Napomene</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#opomene">Opomene</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#pozivi">Pozivi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#pozivna_pisma">Pozivi/pisma</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tuzbe">Tužbe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#dugovanja">Dugovanja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#dugovanja_baketi">Dugovanja - Baketi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#dugovanja_fakture">Dugovanja po fakturama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#ispravke">Otpisana potraživanja</a>
            </li>
        </ul>



        <div class="tab-content mt-3">
            <!-- Osnovni podaci -->
            <div class="tab-pane fade show active" id="podaci">
                <div class="col-lg-6">
                    <h4>Osnovni podaci</h4>
                        {% if partner %}
                        <table class="table table-striped table-sm">
                            <tbody>
                                <tr><th>Šifra partnera</th><td>{{ partner.2 }}</td></tr>
                                <tr><th>Naziv</th><td>{{ partner.3 }}</td></tr>
                                <tr><th>Ulica</th><td>{{ partner.4 }}</td></tr>
                                <tr><th>Poštanski broj</th><td>{{ partner.5 }}</td></tr>
                                <tr><th>Mesto</th><td>{{ partner.6 }}</td></tr>
                                <tr><th>Žiro račun</th><td>{{ partner.7 }}</td></tr>
                                <tr><th>Matični broj</th><td>{{ partner.8 }}</td></tr>
                                <tr><th>Telefon</th><td>{{ partner.9 }}</td></tr>
                                <tr><th>Fax</th><td>{{ partner.10 }}</td></tr>
                                <tr><th>Email</th><td>{{ partner.11 }}</td></tr>
                                <tr><th>Kontakt osoba</th><td>{{ partner.12 }}</td></tr>
                                <tr><th>Web</th><td>{{ partner.13 }}</td></tr>
                                <tr><th>Procenat rabata</th><td>{{ partner.14 }}</td></tr>
                                <tr><th>Broj dana plaćanja</th><td>{{ partner.15 }}</td></tr>
                                <tr><th>Vlasnik</th><td>{{ partner.16 }}</td></tr>
                                <tr><th>PIB</th><td>{{ partner.17 }}</td></tr>
                                <tr><th>Zemlja</th><td>{{ partner.18 }}</td></tr>
                                <tr><th>PDV obveznik</th><td>{{ partner.21 }}</td></tr>
                            </tbody>
                        </table>
                        {% else %}
                        <p class="text-danger">Nema podataka za ovog partnera.</p>
                        {% endif %}
                    </table>
                </div>
            </div>

            <!-- Kontakti -->
            <div class="tab-pane fade show" id="kontakti">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Kontakti</h4>
                    <a href="{% url 'dodaj_kontakt' partner.2 partner.3 %}" class="text-success" style="font-size: 1.05em;">
                        <i class="mdi mdi-plus-box"></i> Dodaj kontakt
                    </a>
                </div> 
                 <table class="table table-striped table-sm">
                    <tr>
                        <th>Kontakt</th>
                        <th>Email</th>
                        <th>Napomena</th>
                        <th>Akcije</th>
                    </tr>
                    {% for kontakt in kontakti %}
                    <tr>
                        <td>{{ kontakt.kontakt }}</td>
                        <td>{{ kontakt.email }}</td>
                        <td>{{ kontakt.napomena }}</td>
                        <td class="d-flex align-items-center">
                            <!-- Izmena kontakta -->
                            <a href="{% url 'izmeni_kontakt' kontakt.id %}" class="text-success d-flex align-items-center me-3">
                                <i class="fas fa-edit"></i>
                            </a>
                        
                            <!-- Vertikalna crta -->
                            <span class="mx-2" style="border-left: 1px solid #ccc; height: 20px;"></span>
                        
                            <!-- Brisanje kontakta -->
                            <form action="{% url 'obrisi_kontakt' kontakt.id %}" method="post" class="d-flex align-items-center" style="margin: 0; padding: 0;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-danger p-0 m-0 d-flex align-items-center"
                                        style="border: none; background: none;"
                                        onclick="return confirm('Da li ste sigurni da želite da uklonite ovaj kontakt?');">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                                                
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Napomene -->
            <div class="tab-pane fade" id="napomene">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Napomene</h4>
                    <a href="{% url 'dodaj_napomenu' partner.2 partner.3 %}" class="text-success" style="font-size: 1.05em;">
                        <i class="mdi mdi-plus-box"></i> Dodaj napomenu
                    </a>
                </div>
                <table class="table table-striped table-sm">
                    <tr>
                        <th>Napomena</th>
                        <th>Veliki</th>
                        <th class="d-flex justify-content-end align-items-center">Akcije</th>
                    </tr>
                    {% for napomena in napomene %}
                    <tr>
                        <td>{{ napomena.napomene }}</td>
                        <td>{{ napomena.veliki }}</td>
                        <td class="d-flex justify-content-end align-items-center">
                            <!-- Izmena napomene -->
                            <a href="{% url 'izmeni_napomenu' napomena.id %}" class="text-success d-flex align-items-center me-3">
                                <i class="fas fa-edit"></i>
                            </a>
                        
                            <!-- Vertikalna crta -->
                            <span class="mx-2" style="border-left: 1px solid #ccc; height: 20px;"></span>
                        
                            <!-- Brisanje napomene -->
                            <form action="{% url 'obrisi_napomenu' napomena.id %}" method="post" class="d-flex align-items-center" style="margin: 0; padding: 0;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-danger p-0 m-0 d-flex align-items-center"
                                        style="border: none; background: none;"
                                        onclick="return confirm('Da li ste sigurni da želite da uklonite ovu napomenu?');">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>                        
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Opomene -->
            <div class="tab-pane fade" id="opomene">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Opomene</h4>
                    <a href="{% url 'dodaj_opomenu' partner.2 partner.3 %}" class="text-success" style="font-size: 1.05em;">
                        <i class="mdi mdi-plus-box"></i> Dodaj opomenu
                    </a>
                </div>
                <table class="table table-striped table-sm">
                    <tr>
                        <th>Godina</th>
                        <th>Broj opomene</th>
                        <th>Datum</th>
                        <th>Iznos</th>
                        <th>Napomene</th>
                        <th class="d-flex justify-content-end align-items-center">Akcije</th>
                    </tr>
                    {% for opomena in opomene %}
                    <tr>
                        <td>{{ opomena.god|floatformat:0 }}</td>
                        <td>{{ opomena.br_opomene|floatformat:0 }}</td>
                        <td>{{ opomena.datum|date:"d.m.Y"  }}</td>
                        <td>{{ opomena.iznos|floatformat:0 }}</td>
                        <td>{{ opomena.napomene }}</td>
                        <td class="d-flex justify-content-end align-items-center">
                            <!-- Izmena opomene -->
                            <a href="{% url 'izmeni_opomenu' opomena.id %}" class="text-success d-flex align-items-center me-3">
                                <i class="fas fa-edit"></i>
                            </a>
                        
                            <!-- Vertikalna crta -->
                            <span class="mx-2" style="border-left: 1px solid #ccc; height: 20px;"></span>
                        
                            <!-- Brisanje opomene -->
                            <form action="{% url 'obrisi_opomenu' opomena.id %}" method="post" class="d-flex align-items-center" style="margin: 0; padding: 0;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-danger p-0 m-0 d-flex align-items-center"
                                        style="border: none; background: none;"
                                        onclick="return confirm('Da li ste sigurni da želite da uklonite ovu opomenu?');">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Pozivi -->
            <div class="tab-pane fade" id="pozivi">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Pozivi</h4>
                    <a href="{% url 'dodaj_poziv' partner.2 partner.3 %}" class="text-success" style="font-size: 1.05em;">
                        <i class="mdi mdi-plus-box"></i> Dodaj poziv
                    </a>
                </div>
                <table class="table table-striped table-sm">
                    <tr>
                        <th>Datum</th>
                        <th>Napomena</th>
                        <th class="d-flex justify-content-end align-items-center">Akcije</th>
                    </tr>
                    {% for poziv in pozivi_tel %}
                    <tr>
                        <td>{{ poziv.datum|date:"d.m.Y"}}</td>
                        <td>{{ poziv.napomena }}</td>
                        <td class="d-flex justify-content-end align-items-center">
                            <!-- Izmena poziva/pisma -->
                            <a href="{% url 'izmeni_poziv' poziv.id %}" class="text-success d-flex align-items-center me-3">
                                <i class="fas fa-edit"></i>
                            </a>
                        
                            <!-- Vertikalna crta -->
                            <span class="mx-2" style="border-left: 1px solid #ccc; height: 20px;"></span>
                        
                            <!-- Brisanje poziva/pisma -->
                            <form action="{% url 'obrisi_poziv' poziv.id %}" method="post" class="d-flex align-items-center" style="margin: 0; padding: 0;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-danger p-0 m-0 d-flex align-items-center"
                                        style="border: none; background: none;"
                                        onclick="return confirm('Da li ste sigurni da želite da uklonite ovaj poziv/pismo?');">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Pozivi/pisma -->
            <div class="tab-pane fade" id="pozivna_pisma">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Pozivi/pisma</h4>
                    <a href="{% url 'dodaj_poziv_pismo' partner.2 partner.3 %}" class="text-success" style="font-size: 1.05em;">
                        <i class="mdi mdi-plus-box"></i> Dodaj poziv/pismo
                    </a>
                </div>
                <table class="table table-striped table-sm">
                    <tr>
                        <th>Godina</th>
                        <th>Broj pisma</th>
                        <th>Datum</th>
                        <th>Iznos</th>
                        <th>Fakture</th>
                        <th>Napomene</th>
                        <th class="d-flex justify-content-end align-items-center">Akcije</th>
                    </tr>
                    {% for pismo in poziv_pismo %}
                    <tr>
                        <td>{{ pismo.god|floatformat:0}}</td>
                        <td>{{ pismo.br_pisma|floatformat:0 }}</td>
                        <td>{{ pismo.datum|date:"d.m.Y" }}</td>
                        <td>{{ pismo.iznos|floatformat:0 }}</td>
                        <td>{{ pismo.fakture|floatformat:0 }}</td>
                        <td>{{ pismo.napomene|floatformat:0}}</td>
                        <td class="d-flex justify-content-end align-items-center">
                            <!-- Izmena poziva/pisma -->
                            <a href="{% url 'izmeni_poziv_pismo' pismo.id %}" class="text-success d-flex align-items-center me-3">
                                <i class="fas fa-edit"></i>
                            </a>
                        
                            <!-- Vertikalna crta -->
                            <span class="mx-2" style="border-left: 1px solid #ccc; height: 20px;"></span>
                        
                            <!-- Brisanje poziva/pisma -->
                            <form action="{% url 'obrisi_poziv_pismo' pismo.id %}" method="post" class="d-flex align-items-center" style="margin: 0; padding: 0;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-danger p-0 m-0 d-flex align-items-center"
                                        style="border: none; background: none;"
                                        onclick="return confirm('Da li ste sigurni da želite da uklonite ovaj poziv/pismo?');">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Tužbe -->
            <div class="tab-pane fade" id="tuzbe">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Tužbe</h4>
                    <a href="{% url 'dodaj_tuzbu' partner.2 partner.3 %}" class="text-success" style="font-size: 1.05em;">
                        <i class="mdi mdi-plus-box"></i> Dodaj tužbu
                    </a>
                </div>
                <table class="table table-striped table-sm">
                    <tr>
                        <th>Godina</th>
                        <th>Broj opomene</th>
                        <th>Datum</th>
                        <th>Iznos</th>
                        <th>Fakture</th>
                        <th>Napomene</th>
                        <th class="d-flex justify-content-end align-items-center">Akcije</th>
                    </tr>
                    {% for tuzba in tuzbe %}
                    <tr>
                        <td>{{ tuzba.god|floatformat:0}}</td>
                        <td>{{ tuzba.br_opomene|floatformat:0 }}</td>
                        <td>{{ tuzba.datum|date:"d.m.Y" }}</td>
                        <td>{{ tuzba.iznos|floatformat:0 }}</td>
                        <td>{{ tuzba.fakture }}</td>
                        <td>{{ tuzba.napomene }}</td>
                        <td class="d-flex justify-content-end align-items-center">
                            <!-- Izmena tužbe -->
                            <a href="{% url 'izmeni_tuzbu' tuzba.id %}" class="text-success d-flex align-items-center me-3">
                                <i class="fas fa-edit"></i>
                            </a>
                        
                            <!-- Vertikalna crta -->
                            <span class="mx-2" style="border-left: 1px solid #ccc; height: 20px;"></span>
                        
                            <!-- Brisanje tužbe -->
                            <form action="{% url 'obrisi_tuzbu' tuzba.id %}" method="post" class="d-flex align-items-center" style="margin: 0; padding: 0;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-danger p-0 m-0 d-flex align-items-center"
                                        style="border: none; background: none;"
                                        onclick="return confirm('Da li ste sigurni da želite da uklonite ovu tužbu?');">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Dugovanja -->
            <div class="tab-pane fade" id="dugovanja">
                <h4>Dugovanja</h4>
                {% if dugovanja %}
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="DugovanjaDetalj" class="display compact">
                                    <thead>
                                        <tr>
                                            <th>Godina</th>
                                            <th>Šifra vrste</th>
                                            <th>Broj naloga</th>
                                            <th>Datum naloga</th>
                                            <th>Stavka</th>
                                            <th>Veza dok.</th>
                                            <th>Datum</th>
                                            <th>Odeljenje</th>
                                            <th>Promena</th>
                                            <th>Duguje</th>
                                            <th>Potražuje</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dug in dugovanja %}
                                        <tr>
                                            <td>{{ dug.0 }}</td> <!-- god -->            
                                            <td>{{ dug.3 }}</td> <!-- sif_vrs -->
                                            <td>{{ dug.4 }}</td> <!-- br_naloga -->
                                            <td>{{ dug.5|date:"d.m.Y" }}</td> <!-- dat_naloga -->
                                            <td>{{ dug.6 }}</td> <!-- stavka -->
                                            <td>{{ dug.7 }}</td> <!-- vez_dok -->
                                            <td>{{ dug.8|date:"d.m.Y" }}</td> <!-- datum -->
                                            <td>{{ dug.9 }}</td> <!-- oj -->
                                            <td>{{ dug.14 }}</td> <!-- promena -->
                                            <td>{{ dug.18|floatformat:0 }}</td> <!-- dug -->
                                            <td>{{ dug.19|floatformat:0 }}</td> <!-- pot -->
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% else %}
                <p>Ovaj partner nema dugovanja.</p>
                {% endif %}
            </div>

            <!-- Dugovanja -->
            <div class="tab-pane fade" id="dugovanja_baketi">
                <h4>Dugovanja - Baketi</h4>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Šifra partnera</th>
                            <th>Naziv</th>
                            <th>Nedospelo</th>
                            <th>Dospelo - baket 1</th>
                            <th>Dospelo - baket 2</th>
                            <th>Dospelo - baket 3</th>
                            <th>Dospelo - baket 4</th>
                            <th>Dospelo - baket 5</th>
                            <th>Dospelo - baket 6</th>
                            <th>Ukupno</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dug in dugovanja_baket %}
                        <tr>
                            <td>{{ dug.0 }}</td>
                            <td>{{ dug.1 }}</td>
                            <td>{{ dug.2|floatformat:0 }}</td>
                            <td>{{ dug.3|floatformat:0 }}</td>
                            <td>{{ dug.4|floatformat:0 }}</td>
                            <td>{{ dug.5|floatformat:0 }}</td>
                            <td>{{ dug.6|floatformat:0 }}</td>
                            <td>{{ dug.7|floatformat:0 }}</td>
                            <td>{{ dug.8|floatformat:0 }}</td>
                            <td><strong>{{ dug.9|floatformat:0 }}</strong></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="10" class="text-center">Nema dugovanja za ovog partnera.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Dugovanja po fakturama -->
            <div class="tab-pane fade" id="dugovanja_fakture">
                <h4>Dugovanja</h4>
                {% if dugovanja %}
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="DugovanjaDetaljFakture" class="display compact">
                                    <thead>
                                        <tr>
                                            <th>Broj naloga</th>
                                            <th>Vrsta</th>
                                            <th>Poslednji datum</th>
                                            <th>Ukupno duguje</th>
                                            <th>Ukupno potražuje</th>
                                            <th>Saldo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dug in dugovanja_sumarno %}
                                        <tr>
                                            <td>{{ dug.0 }}</td>
                                            <td>{{ dug.3}}</td>
                                            <td>{{ dug.4|date:'d.m.Y'  }}</td>
                                            <td>{{ dug.5|floatformat:0 }}</td>
                                            <td>{{ dug.6|floatformat:0 }}</td>
                                            <td>{{ dug.7|floatformat:0 }}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="8" class="text-center">Nema dugovanja za ovog partnera.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% else %}
                <p>Ovaj partner nema dugovanja.</p>
                {% endif %}
            </div>

            <!-- Otpisana potraživanja -->
            <div class="tab-pane fade" id="ispravke">
                <h4>Otpisana potraživanja</h4>
                {% if ispravke %}
                    <table class="table table-striped table-sm">
                        <tr>
                            <th>Godina</th>
                            <th>Šifra partnera</th>
                            <th>Naziv</th>
                            <th>Šifra vrste</th>
                            <th>Broj naloga</th>
                            <th>Datum naloga</th>
                            <th>Stavka</th>
                            <th>Veza dok.</th>
                            <th>Datum</th>
                            <th>Odeljenje</th>
                            <th>Promena</th>
                            <th>Duguje</th>
                            <th>Potražuje</th>
                        </tr>
                        {% for row in ispravke %}
                        <tr>
                            <td>{{ row.0 }}</td> <!-- god -->
                            <td>{{ row.1 }}</td> <!-- sif_par -->
                            <td>{{ row.2 }}</td> <!-- naz_par -->
                            <td>{{ row.3 }}</td> <!-- sif_vrs -->
                            <td>{{ row.4 }}</td> <!-- br_naloga -->
                            <td>{{ row.5 }}</td> <!-- dat_naloga -->
                            <td>{{ row.6 }}</td> <!-- stavka -->
                            <td>{{ row.7 }}</td> <!-- vez_dok -->
                            <td>{{ row.8 }}</td> <!-- datum -->
                            <td>{{ row.9 }}</td> <!-- oj -->
                            <td>{{ row.14 }}</td> <!-- promena -->
                            <td>{{ row.18 }}</td> <!-- dug -->
                            <td>{{ row.19 }}</td> <!-- pot -->
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                <p>Ovaj partner nema otpisanih potraživanja.</p>
                {% endif %} 
            </div>
        </div>
    </div>
</div>


{% endblock %}