            <!-- Dugovanja -->
            <div class="tab-pane fade" id="dugovanja">
                <h4>Dugovanja</h4>
                {% if dugovanja %}
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="DugovanjaDetalj" class="display compact">
                                    <thead>
                                        <tr>
                                            <th>Godina</th>
                                            <th>OJ</th>
                                            <th>Šifra posla</th>
                                            <th>Vrsta</th>
                                            <th>Datum</th>
                                            <th>Veza</th>
                                            <th>DPO</th>
                                            <th>Valuta</th>
                                            <th>Duguje</th>
                                            <th>Potražuje</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dug in dugovanja %}
                                        <tr>
                                            <td>{{ dug.0 }}</td> <!-- god -->
                                            <td>{{ dug.1 }}</td> <!-- oj -->
                                            <td>{{ dug.2 }}</td> <!-- sif_pos -->
                                            <td>{{ dug.3 }}</td> <!-- vrsta -->
                                            <td>{{ dug.4|date:"d.m.Y" }}</td> <!-- datum -->
                                            <td>{{ dug.5 }}</td> <!-- veza -->
                                            <td>{{ dug.6|date:"d.m.Y" }}</td> <!-- dpo -->
                                            <td>{{ dug.7 }}</td> <!-- valuta -->
                                            <td>{{ dug.8|floatformat:2 }}</td> <!-- duguje -->
                                            <td>{{ dug.9|floatformat:2 }}</td> <!-- potražuje -->
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% else %}
                <p>Ovaj partner nema dugovanja.</p>
                {% endif %}
            </div>
