            <!-- Opomene -->
            <div class="tab-pane fade" id="opomene">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Opomene</h4>
                    <a href="{% url 'naplata:dodaj_opomenu' partner.2 partner.3 %}" class="text-success" style="font-size: 1.05em;">
                        <i class="mdi mdi-plus-box"></i> Dodaj opomenu
                    </a>
                </div>
                <table class="table table-striped table-sm">
                    <tr>
                        <th>Godina</th>
                        <th>Broj opomene</th>
                        <th>Datum</th>
                        <th>Iznos</th>
                        <th>Napomene</th>
                        <th class="d-flex justify-content-end align-items-center">Akcije</th>
                    </tr>
                    {% for opomena in opomene %}
                    <tr>
                        <td>{{ opomena.god|floatformat:0 }}</td>
                        <td>{{ opomena.br_opomene|floatformat:0 }}</td>
                        <td>{{ opomena.datum|date:"d.m.Y"  }}</td>
                        <td>{{ opomena.iznos|floatformat:0 }}</td>
                        <td>{{ opomena.napomene }}</td>
                        <td class="d-flex justify-content-end align-items-center">
                            <!-- Izmena opomene -->
                            <a href="{% url 'naplata:izmeni_opomenu' opomena.id %}" class="text-success d-flex align-items-center me-3">
                                <i class="fas fa-edit"></i>
                            </a>
                        
                            <!-- Vertikalna crta -->
                            <span class="mx-2" style="border-left: 1px solid #ccc; height: 20px;"></span>
                        
                            <!-- Brisanje opomene -->
                            <form action="{% url 'naplata:obrisi_opomenu' opomena.id %}" method="post" class="d-flex align-items-center" style="margin: 0; padding: 0;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-danger p-0 m-0 d-flex align-items-center"
                                        style="border: none; background: none;"
                                        onclick="return confirm('Da li ste sigurni da želite da uklonite ovu opomenu?');">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </table>
            </div>
