{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block content %}
<h1 class="my-4">Trenutno Stanje Flote - Opšti Pregled</h1>
<div class="row align-items-top">
    <!--==========================================================-->
    <!-------                  COLUMN START                   ------>
    <!--==========================================================-->
    <div class="col-lg-8">
        <!------- CARD ------>
        <div class="card">
            <div class="card-body">
                 <!-- Number of Vehicles -->
                <div class="row mb-4">
                    <div class="col-md-4">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-globe mb-1 font-16"></i>
                            <h5 class="mb-0 mt-1">{{ total_vehicles }}</h5>
                            <small class="font-light">Ukupno vozila</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-car mb-1 font-16"></i>
                            <h5 class="mb-0 mt-1">{{ passenger_vehicles }}</h5>
                            <small class="font-light">Putnička vozila</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-truck mb-1 font-16"></i>
                            <h5 class="mb-0 mt-1">{{ transport_vehicles }}</h5>
                            <small class="font-light">Teretna vozila</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-3">
                        <div class="bg-dark p-15 text-white text-center">
                            <i class="mdi mdi-clock mb-1 font-16"></i>
                            <h5 class="mb-0 mt-1">{{ average_age|floatformat:2 }} godina</h5>
                            <small class="font-light">Prosečna starost</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-dark p-15 text-white text-center">
                            <i class="mdi mdi-diamond mb-1 font-16"></i>
                            <h5 class="mb-0 mt-1">{{ book_value|floatformat:0|intcomma }} RSD</h5>
                            <small class="font-light">Vrednost flote</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-dark p-15 text-white text-center">
                            <i class="mdi mdi-gas-station mb-1 font-16"></i>
                            <h5 class="mb-0 mt-1">{{ yearly_fuel_costs|floatformat:0|intcomma }} RSD</h5>
                            <small class="font-light">Godišnji troškovi goriva</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-dark p-15 text-white text-center">
                            <i class="mdi mdi-wrench mb-1 font-16"></i>
                            <h5 class="mb-0 mt-1">{{ yearly_service_costs|floatformat:2  }}</h5>
                            <small class="font-light">Godišnji troškovi servisa</small>
                        </div>
                    </div>
                </div>
                <!-- Vehicles by Center -->
                <h3>Statistika po centrima</h3>
                <table class="table table-striped mb-4">
                    <thead>
                        <tr>
                            <th>Centar</th>
                            <th>Broj vozila</th>
                            <th>Prosečna starost (godine)</th>
                            <th>Ukupna vrednost vozila (RSD)</th>
                            <th>Prosečna vrednost vozila (RSD)</th>
                            <th>Ukupna potrošnja goriva (l)</th>
                            <th>Ukupna potrošnja goriva (RSD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for center in centers %}
                        <tr>
                            <td>{{ center.center_code }}</td>
                            <td>{{ center.vehicle_count }}</td>
                            <td>{{ center.avg_age|default_if_none:"N/A"|floatformat:2 }}</td>
                            <td>{{ center.total_value|default_if_none:"N/A"|floatformat:2|intcomma }}</td>
                            <td>{{ center.avg_value|default_if_none:"N/A"|floatformat:2|intcomma }}</td>
                            <td>{{ center.total_fuel_quantity|default_if_none:"N/A"|floatformat:2|intcomma }}</td>
                            <td>{{ center.total_fuel_price|default_if_none:"N/A"|floatformat:2|intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h3>Detaljna statistika po centrima</h3>
                <div class="row">

                    <!-- Column -->
                    
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a href="{% url 'center_statistics' center_code='41' %}">
                            <div class="card card-hover">
                                <div class="box bg-cyan text-center" style="height: 300px;">
                                    <h5 class="text-white">Centar za</h5>
                                    <h5 class="text-white">materijale</h5>
                                    <div >
                                        <img src="{% static 'fleet\assets\images\meterijali.webp' %}" alt="Icon for Centar materijale" class="img-fluid"/>
                                    </div>                                
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a href="{% url 'center_statistics' center_code='42' %}">
                            <div class="card card-hover">
                                <div class="box bg-cyan text-center" style="height: 300px;">
                                    <h5 class="text-white">Centar za</h5>
                                    <h5 class="text-white">metale i energetiku</h5>
                                    <div >
                                        <img src="{% static 'fleet\assets\images\metali.webp' %}" alt="Icon for Centar za puteve i geotehniku" class="img-fluid"/>
                                    </div>                                
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a href="{% url 'center_statistics' center_code='43' %}">
                            <div class="card card-hover">
                                <div class="box bg-cyan text-center" style="height: 300px;">
                                    <h5 class="text-white">Centar za</h5>
                                    <h5 class="text-white">puteve i geotehniku</h5>
                                    <div >
                                        <img src="{% static 'fleet\assets\images\geotehnika.webp' %}" alt="Icon for Centar za puteve i geotehniku" class="img-fluid"/>
                                    </div>                                
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a href="{% url 'center_statistics' center_code='44' %}">
                            <div class="card card-hover">
                                <div class="box bg-cyan text-center" style="height: 300px;">
                                    <h5 class="text-white">Centar za</h5>
                                    <h6 class="text-white">Konstrukcije i prednaprezanje</h6>
                                    <div >
                                        <img src="{% static 'fleet\assets\images\konstrukcije.webp' %}" alt="Icon for Centar za puteve i geotehniku" class="img-fluid"/>
                                    </div>                                
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Vehicles in Red Zone -->
                <h3>Vozila u Crvenoj Zoni</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Vozilo</th>
                            <th>Marka</th>
                            <th>Model</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vehicle in red_zone_vehicles %}
                        <tr>
                            <td>{{ vehicle }}</td>
                            <td>{{ vehicle.brand }}</td>
                            <td>{{ vehicle.model }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>      
        </div>
        <!------- CARD END ------>
    </div>

    <!--==========================================================-->
    <!-------                  COLUMN START                   ------>
    <!--==========================================================-->
    <div class="col-lg-4">
        {% if services_without_vehicle > 0 or policies_without_vehicle > 0 or requisitions_without_vehicle > 0 %}
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <i class="mdi mdi-alert-outline"></i> UPOZORENJE !
                </h4>                    
                {% if policies_without_vehicle > 0 %}
                    <a href="{% url 'policy_fixing_list' %}" style="color: inherit; text-decoration: none;">                    
                        <p style="font-size: 1.3em;">
                            <i class="mdi mdi-update"></i>
                            Imate {{ policies_without_vehicle }} polisa koje moraju da se dopune!
                        </p>
                    </a>
                {% endif %}

                {% if services_without_vehicle > 0 %}
                    <a href="{% url 'service_fixing_list' %}" style="color: inherit; text-decoration: none;">                    
                        <p style="font-size: 1.3em;">
                            <i class="mdi mdi-update"></i>
                            Imate {{ services_without_vehicle }} servisa koje moraju da se dopune!
                        </p>
                    </a>
                {% endif %}

                {% if requisitions_without_vehicle > 0 %}
                    <a href="{% url 'requisition_fixing_list' %}" style="color: inherit; text-decoration: none;">                    
                        <p style="font-size: 1.3em;">
                            <i class="mdi mdi-update"></i>
                            Imate {{ requisitions_without_vehicle }} trebovanja koje moraju da se dopune!
                        </p>
                    </a>
                {% endif %}

                {% if expiring_policies_count > 0 %}
                <a href="{% url 'expiring_and_not_renewed_policies' %}" style="color: inherit; text-decoration: none;">                    
                    <p style="font-size: 1.3em;">
                        <i class="mdi mdi-update"></i>
                        Imate {{ expiring_policies_count }} polisa koje ističu u narednih 30 dana!
                    </p>
                </a>
                {% endif %}

                {% if expired_unrenewed_policies_count > 0 %}
                <a href="{% url 'expiring_and_not_renewed_policies' %}" style="color: inherit; text-decoration: none;">                    
                    <p style="font-size: 1.3em;">
                        <i class="mdi mdi-update"></i>
                        Imate {{ expired_unrenewed_policies_count }} polisa koje nisu obnovljene!
                    </p>
                </a>
                {% endif %}

            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        
    </div>
</div> 
 

    {% endblock %}