{% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
{% endif %}

<form method="POST" action="{% url 'fetch_policies' %}">
    {% csrf_token %}
    <button type="submit">Povuci podatke iz view-a</button>
  </form>

<form method="POST" action="{% url 'fetch_services' %}">
    {% csrf_token %}
    <button type="submit">Povuci podatke iz view-a</button>
  </form>

  <form method="POST" action="{% url 'fetch_requisitions' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Povuci podatke trebovanja </button>
  </form>