{% extends "base.html" %}
{% block content %}


<h1>Povlačenje podataka za sve funkcije</h1>

<!-- Forma za povlačenje podataka za Policy -->
<form method="post" action="{% url 'fetch_policies' %}">
    {% csrf_token %}
    <h2>Povlačenje podataka o polisama osiguranja</h2>
    <label for="days_policy">Broj dana (opciono):</label>
    <input type="text" id="days_policy" name="days" placeholder="Unesite broj dana">
    <button type="submit">Povuci podatke za Policy</button>
</form>

<hr>

<!-- Forma za povlačenje podataka za ServiceTransaction -->
<form method="post" action="{% url 'fetch_services' %}">
    {% csrf_token %}
    <h2>Povlačenje podataka o servisnim transakcijama</h2>
    <label for="days_service">Broj dana (opciono):</label>
    <input type="text" id="days_service" name="days" placeholder="Unesite broj dana">
    <button type="submit">Povuci podatke za ServiceTransaction</button>
</form>

<hr>

<!-- Forma za povlačenje podataka za Requisition -->
<form method="post" action="{% url 'fetch_requisitions' %}">
    {% csrf_token %}
    <h2>Povlačenje podataka o trebovanjima/zahtevima</h2>
    <label for="days_requisition">Broj dana (opciono):</label>
    <input type="text" id="days_requisition" name="days" placeholder="Unesite broj dana">
    <button type="submit">Povuci podatke za Requisition</button>
</form>

<hr>
<!-- Forma za pokretanje komande za NIS -->
<h2>Povlačenje podataka za GORIVO (NIS)</h2>
<form method="post" action="{% url 'run_nis_command' %}">
    {% csrf_token %}
    <label for="nis_date">Unesite datum (opciono):</label>
    <input type="date" id="nis_date" name="date" placeholder="Izaberite datum">
    <button type="submit">Pokreni komandu za NIS</button>
</form>
{% endblock %}
