{% extends "base.html" %}
{% load form_filters %}
{% block content %}
<h2>{{ title }}</h2>
<div class="card">
  <div class="card-body">
      <h5 class="card-title">Basic Datatable</h5>
      <form method="get" class="row g-3 align-items-end pb-3">
        <div class="col-auto">
            <label for="id_fuel_in_last_6_months" class="col-form-label">Od datuma::</label>
            <div>
                {{ filter.form.start_date|add_class:'form-control' }}
            </div>
        </div>
        <div class="col-auto">
            <label for="id_fuel_in_last_6_months" class="col-form-label">Od datuma::</label>
            <div>
                {{ filter.form.end_date|add_class:'form-control' }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Filtriraj</button>
    
      <div class="table-responsive">
          <table id="DatatableFuel" class="display compact">
              <thead>
                  <tr>
                    <th>Registracija</th>
                    <th>Datum</th>
                    <th>Količina</th>
                    <th>Tip goriva</th>
                    <th>Iznos - Bruto</th>
                    <th>Iznos - Neto</th>
                    <th>Dobavljač</th>
                  </tr>
              </thead>
              <tbody>
                {% for consumption in filter.qs %}
                  <tr>                         
                      <td>{{ consumption.registration_number|default:"N/A" }}</td>                    
                      <td>{{ consumption.date|date:"d.m.Y H:i:s"  }}</td>
                      <td>{{ consumption.amount }}</td>
                      <td>{{ consumption.fuel_type }}</td>
                      <td>{{ consumption.cost_bruto }}</td>
                      <td>{{ consumption.cost_neto}}</td>
                      <td>{{ consumption.supplier }}</td>

                  </tr>
              {% empty %}
                  <tr>
                      <td colspan="5">Nema podataka</td>
                  </tr>
              {% endfor %}
              <tfoot>
                  <tr>
                    <th>Registracija</th>
                    <th>Datum</th>
                    <th>Količina</th>
                    <th>Tip goriva</th>
                    <th>Iznos - Bruto</th>
                    <th>Iznos - Neto</th>
                    <th>Dobavljač</th>
                  </tr>
              </tfoot>
          </table>
      </div>

  </div>
</div>

{% endblock %}
