<!-- requisition_list.html -->
{% extends 'base.html' %}
{% block content %}
<h2>{{ title }}</h2>
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Tabela</h5>
            <a href={% url 'requisition_create'%} class="text-success" style="font-size: 1.15em;">
                <i class="mdi mdi-plus-box"></i> Dodaj trebovanje
            </a>
        </div>
        <div class="table-responsive">
            <table id="DatatableTrebovanja" class="display">
                <thead>
                    <tr>
                        <th>Vozilo </th>
                        <th>Godina</th>
                        <th>Broj Dokumenta</th>
                        <th>Datum trebovanja</th>
                        <th>Naziv Artikla</th>
                        <th>Količina</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    {% for requisition in requisitions %}
                    <tr>
                        <td>{{ requisition.vehicle }}</td>
                        <td>{{ requisition.god }}</td>
                        <td><a href="{% url 'requisition_detail' god=requisition.god br_dok=requisition.br_dok %}">
                            {{ requisition.br_dok }}
                        </a></td>
                        <td>{{ requisition.datum_trebovanja|date:"d.m.Y" }}</td>
                        <td>{{ requisition.naz_art }}</td>
                        <td>{{ requisition.kol }}</td>
                        <td>
                        <a href="{% url 'requisition_update' requisition.pk %}">Edit</a>
                      </td>
                    </tr>
                  {% endfor %}
            </table>
        </div>

    </div>
</div>
{% endblock %}
