{% extends "base.html" %}

{% block content %}
<h2>{{ title }}</h2>
<div class="card">
  <div class="card-body">
      <h5 class="card-title">Basic Datatable</h5>
      <div class="table-responsive">
          <table id="DatatableServisi" class="display compact">
              <thead>
                  <tr>
                    <th>Vozilo</th>
                    <th>Tip servisa</th>
                    <th>Datum servisa</th>
                    <th>Trošak</th>
                    <th>Dobavljač</th>
                    <th>Opis</th>
                    <th>Akcije</th>
                  </tr>
              </thead>
              <tbody>
                {% for service_transaction in service_transactions %}
                  <tr>                        
                    <td>{{ service_transaction.vehicle }}</td>
                    <td>{{ service_transaction.popravka_kategorija }}</td>
                    <td>{{ service_transaction.datum }}</td>
                    <td>{{ service_transaction.potrazuje }}</td>
                    <td>{{ service_transaction.naz_par_pl }}</td>
                    <td>{{ service_transaction.napomena }}</td>
                    <td>
                      <a href="{% url 'service_transaction_update' service_transaction.pk %}">Edit</a>
                    </td>
                  </tr>
              {% empty %}
                  <tr>
                      <td colspan="5">Nema podataka</td>
                  </tr>
              {% endfor %}
              <tfoot>
                  <tr>
                    <th>Vozilo</th>
                    <th>Tip servisa</th>
                    <th>Datum servisa</th>
                    <th>Trošak</th>
                    <th>Dobavljač</th>
                    <th>Opis</th>
                    <th>Akcije</th>
                  </tr>
              </tfoot>
          </table>
      </div>

  </div>
</div>
{% endblock %}
