{% extends "base.html" %}
{% load form_filters %}
{% load ims_tags %}
{% block content %}
  <h2>{{ title }}</h2>
  <div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Tabela</h5>
            <a href={% url 'trafficcard_create_manual'%} class="text-success" style="font-size: 1.15em;">
                <i class="mdi mdi-plus-box"></i></i> Dodaj saobraćajnu dozvolu
            </a>
        </div>

        <form method="get" class="row g-3 align-items-end pb-3">
          <div class="col-md-4">
            {{ filter_form.center.label_tag }}
            {{ filter_form.center }}
          </div>
          <div class="col-md-4">
            {{ filter_form.organizational_unit.label_tag }}
            {{ filter_form.organizational_unit }}
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100">Filtriraj</button>
          </div>
        </form>

        <div class="table-responsive">
            <table id="DatatableSaobracajne" class="display">
              <thead>
                  <tr>
                      <th>Vozilo</th>
                      <th>Registracija</th>
                      <th>Datum izdavanja</th>
                      <th>Vazi do</th>
                      <th>Broj dozvole</th>
                      <th>Vlasnik</th>
                      <th>Akcije</th>
                  </tr>
              </thead>
              <tbody>
                  {% for card in traffic_cards %}
                  <tr>                        
                      <td>{{ card.vehicle }}</td>                      
                      <td>{{ card.registration_number }}</td>
                      <td>{{ card.issue_date|date:"d.m.Y"  }}</td>
                      <td>{{ card.valid_until|date:"d.m.Y"}}</td>
                      <td>{{ card.traffic_card_number }}</td>
                      <td>{{ card.owner }}</td>
                      <td>
                        <!-- Izmeni dugme -->
                        <a href="{% url 'trafficcard_update' card.pk %}" class="btn btn-sm btn-primary">
                          <i class="fas fa-edit"></i> Izmeni
                        </a>
                      
                        <!-- Preuzmi PDF ako postoji -->
                        {% if card.traffic_card_pdf %}
                          <a href="{{ card.traffic_card_pdf.url }}" class="btn btn-sm btn-success ms-2" target="_blank">
                            <i class="fas fa-file-pdf"></i> Preuzmi PDF
                          </a>
                        {% else %}
                          <span class="text-muted ms-2"><i class="fas fa-times-circle"></i> Nema PDF</span>
                        {% endif %}
                      </td>
                      
                  </tr>
              {% empty %}
                  <tr>
                      <td colspan="5">Nema opreme..</td>
                  </tr>
              {% endfor %}
              <tfoot>
                  <tr>
                    <th>Vozilo</th>
                    <th>Registracija</th>
                    <th>Datum izdavanja</th>
                    <th>Vazi do</th>
                    <th>Broj dozvole</th>
                    <th>Vlasnik</th>
                    <th>Homologacijski br.</th>
                  </tr>
              </tfoot>
          </table>
        </div>
      </div>
  </div>
{% endblock %}
