{% extends 'base.html' %}
{% load form_filters %}
{% load ims_tags %}
{% block content %}
{% load humanize %} 
<h2>{{ title }}</h2>
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Tabela</h5>
            <a href={% url 'vehicle_create'%} class="text-success" style="font-size: 1.15em;">
                <i class="mdi mdi-plus-box"></i><i class="mdi mdi-car"></i> Dodaj vozilo
            </a>
        </div>
        <form method="get" class="row g-3 align-items-end pb-3">
            <div class="col-auto">
                <label for="id_fuel_in_last_6_months" class="col-form-label">{{ form.fuel_in_last_6_months.label }}:</label>
                <div>
                    {{ form.fuel_in_last_6_months|add_class:'form-control' }}
                </div>
            </div>
            
            <div class="col-auto">
                <label for="id_org_unit" class="col-form-label">{{ form.org_unit.label }}:</label>
                <div>
                    {{ form.org_unit|add_class:'form-control' }}
                </div>
            </div>
        
            <div class="col-auto">
                <label for="id_center_code" class="col-form-label">{{ form.center_code.label }}:</label>
                <div>
                    {{ form.center_code|add_class:'form-control' }}
                </div>
            </div>
            <div class="col-auto">
                <label for="id_show_archived" class="col-form-label">Otpisana vozila:</label>
                <div>
                    <select name="show_archived" id="id_show_archived" class="form-control">
                        <option value="">Ne prikazuj</option>
                        <option value="yes" {% if request.GET.show_archived == 'yes' %}selected{% endif %}>Prikaži</option>
                    </select>
                </div>
            </div>
            
        
            <!-- Dugme je sada poravnato sa poljima -->
            <div class="col-auto d-flex align-items-end">
                <button type="submit" class="btn btn-primary">Filtriraj</button>
            </div>


        </form>
        

        <div class="table-responsive">
            <table id="DatatableVozila" class="display">
                <thead>
                    <tr>
                        <th>Registracija</th>
                        <th>Marka</th>
                        <th>Tip</th>
                        <th>Godiste</th>
                        <th>Kilometraža</th>
                        <th>Potrošnja</th>
                        <th>Kategorija</th>                        
                        <th>Centar</th>
                        <th>Kubikaža</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in vehicles %}
                    <tr>  
                        <td><a href="{% url 'vehicle_detail' vehicle.pk %}">{{ vehicle.registration_number }}</a></td>                   
                        <td>{{ vehicle.brand }}</td>                      
                        <td>{{ vehicle.model }}</td>
                        <td>{{ vehicle.year_of_manufacture }}</td>
                        <td>{{ vehicle.mileage }}</td>
                        <td>
                            {% if vehicle_consumption_data|dict_get:vehicle.id %}
                                {{ vehicle_consumption_data|dict_get:vehicle.id|floatformat:2 }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td>{{ vehicle.category }}</td>
                        <td>{{ vehicle.latest_org_unit }}</td>
                        <td>{{ vehicle.engine_volume|floatformat:0 }}</td>
                        <td>
                            <!-- Izmeni dugme -->
                            <a href="{% url 'vehicle_update' vehicle.pk %}" class="btn btn-sm btn-primary">
                              <i class="fas fa-edit"></i> Izmeni
                            </a>
                          
                            <!-- Otpiši dugme -->
                            <form action="{% url 'vehicle_toggle_status' vehicle.pk %}" method="post" class="d-inline-block ms-2" style="margin: 0; padding: 0;">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-sm btn-danger"
                                      onclick="return confirm('Da li ste sigurni da želite da otpišete ovo vozilo?');">
                                <i class="fas fa-trash-alt"></i> Otpiši
                              </button>
                            </form>
                        </td>                       
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">Nema vozila...</td>
                    </tr>
                {% endfor %}
                <tfoot>
                    <tr>
                        <th>Registracija</th>
                        <th>Marka</th>
                        <th>Tip</th>
                        <th>Godiste</th>
                        <th>Kilometraža</th>
                        <th>Potrošnja</th>
                        <th>Kategorija</th>                        
                        <th>Centar</th>
                        <th>Kubikaža</th>
                        <th>Akcije</th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>

{% endblock %}