{% extends 'base.html' %}

{% block content %}

<h2>Partner - {{ partner.3 }}</h2>
<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs mt-3" id="partnerTabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#podaci">Osnovni podaci</a>
            </li>
            {% if not report_mode %}
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#kontakti">Kontakti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-bs-toggle="tab" href="#napomene">Napomene</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#opomene">Opomene</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#pozivi">Pozivi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#pozivna_pisma">Pozivi/pisma</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tuzbe">Tužbe</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#dugovanja">Dugovanja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#dugovanja_baketi">Dugovanja - Baketi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#dugovanja_fakture">Dugovanja po fakturama</a>
            </li>
            {% if not report_mode %}
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#ispravke">Otpisana potraživanja</a>
            </li>
            {% endif %}
        </ul>



        <div class="tab-content mt-3">
            {% include "naplata/partials/detalji_partner/_podaci.html" %}

            {% if not report_mode %}
            {% include "naplata/partials/detalji_partner/_kontakti.html" %}
            {% include "naplata/partials/detalji_partner/_napomene.html" %}
            {% include "naplata/partials/detalji_partner/_opomene.html" %}
            {% include "naplata/partials/detalji_partner/_pozivi.html" %}
            {% include "naplata/partials/detalji_partner/_pozivna_pisma.html" %}
            {% include "naplata/partials/detalji_partner/_tuzbe.html" %}
            {% endif %}

            {% include "naplata/partials/detalji_partner/_dugovanja.html" %}
            {% include "naplata/partials/detalji_partner/_dugovanja_baketi.html" %}
            {% include "naplata/partials/detalji_partner/_dugovanja_fakture.html" %}

            {% if not report_mode %}
            {% include "naplata/partials/detalji_partner/_ispravke.html" %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}