{% load static %}
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'dashboard'%}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                            class="hide-menu">Kontrolna tabla</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'vehicle_list'%}" aria-expanded="false"><i class="mdi mdi-car"></i><span
                        class="hide-menu">Spisak autmobila</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'trafficcard_list'%}" aria-expanded="false"><i class="mdi mdi-credit-card-multiple"></i><span
                            class="hide-menu">Saobraćajne dozvole</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'lease_list'%}" aria-expanded="false"><i class="mdi mdi-bank"></i><span
                            class="hide-menu">Lizing</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'policy_list'%}" aria-expanded="false"><i class="mdi mdi-file-powerpoint"></i><span
                            class="hide-menu">Polise</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                    href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-gas-station"></i><span
                        class="hide-menu">Potrošnja </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="{% url 'fuelconsumption_list'%}" class="sidebar-link"><i
                                    class="mdi mdi-note-outline"></i><span class="hide-menu"> Pregled 
                                </span></a></li>
                        <li class="sidebar-item"><a href="{% url 'fuel_transactions_list'%}" class="sidebar-link"><i
                                    class="mdi mdi-note-plus"></i><span class="hide-menu"> Lista računa
                                </span></a></li>
                    </ul>
                </li>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'employee_list'%}" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span
                            class="hide-menu">Zaposleni</span></a></li>
                {% comment %} <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'incident_list'%}" aria-expanded="false"><i class="mdi mdi-alert"></i><span
                            class="hide-menu">Incidenti</span></a></li> {% endcomment %}
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'putninalog_list'%}" aria-expanded="false"><i class="mdi mdi-road-variant"></i><span
                            class="hide-menu">Putni nalozi</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'service_transaction_list'%}" aria-expanded="false"><i class="mdi mdi-wrench"></i><span
                            class="hide-menu">Popravke van IMS </span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'requisition_list'%}" aria-expanded="false"><i class="mdi mdi-wrench"></i><span
                            class="hide-menu">Popravke u IMS</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'reports_index'%}" aria-expanded="false"><i class="mdi mdi-file-document"></i><span
                            class="hide-menu">Izveštaji sa servera</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'lista_dugovanja_po_bucketima'%}" aria-expanded="false"><i class="mdi mdi-cash-multiple"></i><span
                            class="hide-menu">Lista dugovanja</span></a></li>
                {% if user.is_superuser %}
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'fetch_data'%}" aria-expanded="false"><i class="mdi mdi-source-pull"></i><span
                            class="hide-menu">Povlacenje podataka</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'user_list'%}" aria-expanded="false"><i class="mdi mdi-account"></i><span
                            class="hide-menu">Korisnici</span></a></li>
                {% endif %}
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->