{% load static %}
<!-- ============================================================== -->
<!-- Left Sidebar for Kadrovi -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="pt-4">
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link"
             href="{% url 'my_employee_profile' %}" aria-expanded="false">
            <i class="mdi mdi-account-circle"></i>
            <span class="hide-menu">Moj profil</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link"
             href="{% url 'employee_list' %}" aria-expanded="false">
            <i class="mdi mdi-account-group"></i>
            <span class="hide-menu">Spisak zaposlenih</span>
          </a>
        </li>
        {% if hr_permissions.annual_leave_list %}
        <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'hr:annual_leave_list' %}"><i class="mdi mdi-calendar-check"></i><span class="hide-menu">Godišnji odmori</span></a></li>
        {% endif %}
        {% if hr_permissions.sick_leave_list %}
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'hr:sick_leave_list' %}">
            <i class="mdi mdi-calendar-remove"></i><span class="hide-menu">Bolovanja</span>
          </a>
        </li>
        {% elif hr_permissions.sick_leave_import %}
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'hr:sick_leave_import' %}">
            <i class="mdi mdi-file-import"></i><span class="hide-menu">Uvoz bolovanja</span>
          </a>
        </li>
        {% endif %}
        {% if hr_permissions.evaluation_list %}
        <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'hr:evaluation_list' %}"><i class="mdi mdi-clipboard-check-outline"></i><span class="hide-menu">Ocenjivanje zaposlenih</span></a></li>
        {% endif %}
        {% if hr_permissions.resenje_list %}
        <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'hr:resenje_list' %}"><i class="mdi mdi-file-document-outline"></i><span class="hide-menu">Rešenja zaposlenih</span></a></li>
        {% endif %}
        {% if hr_permissions.work_time_catalog %}
        <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'hr:work_time_catalog' %}"><i class="mdi mdi-format-list-bulleted"></i><span class="hide-menu">Elementi radne liste</span></a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</aside>

