{% load static %}
<aside class="left-sidebar" data-sidebarbg="skin5">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="pt-4">
        {% if nabavka_permissions.dashboard %}<li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'nabavka:dashboard' %}">
            <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Kontrolna tabla</span>
          </a>
        </li>{% endif %}
        {% if nabavka_permissions.case_list %}<li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'nabavka:case_list' %}">
            <i class="mdi mdi-clipboard-list"></i><span class="hide-menu">Zahtevi za nabavku i uslugu</span>
          </a>
        </li>{% endif %}
        {% if nabavka_permissions.euf_invoice_list %}<li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'nabavka:euf_invoice_list' %}">
            <i class="mdi mdi-file-import"></i><span class="hide-menu">Preuzete EUF</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'nabavka:euf_item_list' %}">
            <i class="mdi mdi-format-list-bulleted"></i><span class="hide-menu">UF stavke</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'nabavka:goods_list' %}">
            <i class="mdi mdi-package-variant"></i><span class="hide-menu">Roba</span>
          </a>
        </li>{% endif %}
        {% if nabavka_permissions.purchase_contract_list %}<li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'nabavka:purchase_contract_list' %}">
            <i class="mdi mdi-file-document"></i><span class="hide-menu">Kupovni ugovori</span>
          </a>
        </li>{% endif %}
        {% if nabavka_permissions.purchase_order_list %}<li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'nabavka:purchase_order_list' %}">
            <i class="mdi mdi-file-document-edit"></i><span class="hide-menu">Narudžbenice</span>
          </a>
        </li>{% endif %}
        {% if nabavka_permissions.reports %}<li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'nabavka:reports' %}">
            <i class="mdi mdi-file-chart"></i><span class="hide-menu">Izveštaji</span>
          </a>
        </li>{% endif %}
        {% if nabavka_permissions.alerts %}<li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'nabavka:alerts' %}">
            <i class="mdi mdi-bell-alert"></i><span class="hide-menu">Alarmi</span>
          </a>
        </li>{% endif %}
      </ul>
    </nav>
  </div>
</aside>
