{% load static %}
<aside class="left-sidebar" data-sidebarbg="skin5">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="pt-4">
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'isplate:neoporezive_isplate' %}">
            <i class="mdi mdi-bank-transfer"></i><span class="hide-menu">Isplata neoporezovanih</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'isplate:converter' %}">
            <i class="mdi mdi-file-code-outline"></i><span class="hide-menu">Konverter</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
