{% load static %}
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav" class="pt-4">
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
            href="{% url 'dashboard' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                class="hide-menu">Pregled</span></a></li>
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
            href="{% url 'vehicle_list'%}" aria-expanded="false"><i class="mdi mdi-car"></i><span
                class="hide-menu">Spisak vozila</span></a></li>
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
            href="{% url 'fleet_analytics' %}" aria-expanded="false"><i class="mdi mdi-chart-areaspline"></i><span
                class="hide-menu">Analitika</span></a></li>
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
            href="{% url 'trafficcard_list'%}" aria-expanded="false"><i class="mdi mdi-credit-card-multiple"></i><span
                class="hide-menu">Saobraćajne dozvole</span></a></li>
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
        href="{% url 'putninalog_list'%}" aria-expanded="false"><i class="mdi mdi-road-variant"></i><span
                class="hide-menu">Putni nalozi</span></a>
    </li>
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
        href="{% url 'vehicle_travel_order_list'%}" aria-expanded="false"><i class="mdi mdi-car-connected"></i><span
                class="hide-menu">Zaduženja vozila</span></a>
    </li>
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
            href="{% url 'kvar_list'%}" aria-expanded="false"><i class="mdi mdi-garage"></i><span
                class="hide-menu">Garaža IMS</span></a>
    </li>
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
            href="{% url 'reports_index'%}" aria-expanded="false"><i class="mdi mdi-file-chart"></i><span
                class="hide-menu">Izveštaji</span></a>
    </li>
    <li class="sidebar-item mt-3"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
            href="{% url 'fleet_other'%}" aria-expanded="false"><i class="mdi mdi-dots-horizontal-circle"></i><span
                class="hide-menu">Ostalo</span></a>
    </li>
</ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
