<aside class="left-sidebar" data-sidebarbg="skin5">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="pt-4">
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'organizacija:stablo' %}">
            <i class="mdi mdi-file-tree"></i><span class="hide-menu">Stablo organizacije</span>
          </a>
        </li>
        {% if organizacija_permissions.sema %}
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'organizacija:sema' %}">
            <i class="mdi mdi-sitemap"></i><span class="hide-menu">Organizaciona šema</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</aside>
