{% load static %}
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'fetch_data'%}" aria-expanded="false"><i class="mdi mdi-source-pull"></i>
                    <span class="hide-menu">Povlacenje podataka</span></a>
                </li>
                
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'user_list'%}" aria-expanded="false"><i class="mdi mdi-account"></i>
                    <span class="hide-menu">Korisnici</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'activity_log_list'%}" aria-expanded="false"><i class="mdi mdi-history"></i>
                    <span class="hide-menu">Activity log</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'task_history_list'%}" aria-expanded="false"><i class="mdi mdi-timeline-clock"></i>
                    <span class="hide-menu">Task history</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
