{% load static %}
<aside class="left-sidebar" data-sidebarbg="skin5">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="pt-4">

        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'naplata:lista_dugovanja_po_bucketima' %}">
            <i class="mdi mdi-cash-multiple"></i><span class="hide-menu">Lista dugovanja</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'naplata:lista_avans_klijenti' %}">
            <i class="mdi mdi-account-check"></i><span class="hide-menu">Avans klijenti</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'naplata:lista_tuzenih' %}">
            <i class="mdi mdi-file-document-box"></i><span class="hide-menu">Utuženi klijenti</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'naplata:lista_opomena' %}">
            <i class="mdi mdi-bell"></i><span class="hide-menu">Opomene</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" data-no-preloader>
            <i class="mdi mdi-file-document"></i><span class="hide-menu">Izveštaji (uskoro)</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</aside>
